.titulo{
   margin-left: 5rem;
}
.galeria {
    margin: 2rem auto;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

.galeria a {
    text-decoration: none;
    color: black;
}

    .galeria .card {
        border-radius: 10px;
        padding: 24px;
        margin: 16px;
        text-align: center;
        align-content: center;
        width: 15rem;
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }

.galeria .card img {
    max-width: 100%;
    height: 15rem;
    border-radius: 4px;
}

.galeria .card h2 {
    font-size: 1.2rem;
}

.btn-warning {
    padding: 10px 20px;
    background-color: #ffb303;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.btn-agotado{
    background-color: grey;
    cursor: not-allowed;
}
main .pagination-lg{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
}
        main .pagination-lg a{
            text-decoration: none;
            font-size: 20px;
            color: black;
            font-weight: bolder;
        }
