@using Carrito.Models
@model IEnumerable<Libro>


<h2>Buscar libros</h2>

<form asp-action="Buscar" method="get">
    <input type="text" name="titulo" list="listaLibros" placeholder="Buscar libro..." class="form-control" />

    <datalist id="listaLibros">
        @foreach (var libro in Model)
        {
            <option value="@libro.Title"></option>
        }
    </datalist>

    <button type="submit" class="btn btn-primary mt-2">Buscar</button>
</form>

<hr />

<h2>Listado de libros</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Género</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.Title</td>
                <td>@libro.GenreId</td>
                <td>@libro.PublishedYear</td>
            </tr>
        }
    </tbody>
</table>
