@using Carrito.Models
@model List<Carrito>
@section Estilos {
    <link rel="stylesheet" href="~/css/historial.css" />
}

<h2>Historial de compras</h2>

@if (Model == null || Model.Count == 0)
{
    <p>No tenés compras realizadas.</p>
}
else
{
    foreach (var carrito in Model)
    {
        // Calcular total de la compra
        var total = carrito.Libros.Sum(item => item.Cantidad * item.Libro.Price);

        <div class="compra">
            <h3>Número de pedido #@carrito.CarritoId</h3>

            <div class="libroPedido">
                @foreach (var item in carrito.Libros)
                {
                    <ul>
                        <li class="tituloLibro"><strong>@item.Libro.Title</strong> </li>
                        <li>Cantidad: @item.Cantidad </li>
                        <li>Precio: $@item.Libro.Price </li>
                        <li>Subtotal: $@(item.Cantidad* item.Libro.Price) </li>
                    

                    </ul>
                }
            </div>
            <p><strong>Total de la compra:</strong> $@total</p>
        </div>
    }
}
