@using Carrito.Models
@model List<Carrito>

<h2>Historial de compras</h2>

@if (Model == null || Model.Count == 0)
{
    <p>No tenés compras realizadas.</p>
}
else
{
    foreach (var carrito in Model)
    {
        // Calcular total de la compra
        var total = carrito.Libros.Sum(item => item.Cantidad * item.Libro.Price);

        <div class="compra">
            <h3>Compra #@carrito.CarritoId</h3>

            <ul>
                @foreach (var item in carrito.Libros)
                {
                    <li>
                        <strong>@item.Libro.Title</strong>
                        — Cantidad: @item.Cantidad
                        — Precio: $@item.Libro.Price
                        — Subtotal: $@(item.Cantidad* item.Libro.Price)
                    </li>
                }
            </ul>
            <p><strong>Total de la compra:</strong> $@total</p>
            <hr />
        </div>
    }
}
