@using Carrito.Models.ViewModels
@model LoginViewModel
@section Estilos{
    <link rel="stylesheet" href="~/css/login.css" />
}


@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form class="form-login" asp-action="Login" method="post">
    <h2>Iniciar sesión</h2>
    <div class="form-body">
        <div class="campo">
            <label>Email:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="campo">
            <label>Contraseña:</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="campo campo-btn">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </div>
    <div class="form-footer">
        <p>Si no tenes usuario, <a asp-controller="Cuenta" asp-action="Registro">registrate presionando aquí.</a></p>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
