@using Carrito.Models.ViewModels
@model RegistroViewModel
@section Estilos{
    <link rel="stylesheet" href="~/css/login.css" />
}


@{
    ViewData["Title"] = "Registro";
}


<form class ="form-login" asp-action="Registro" method="post" class="mt-4">
    <h2>Crear cuenta</h2>

    <div class="form-body">
        <div class="campo">
            <label class="form-label">Nombre</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="campo">
            <label class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="campo">
            <label class="form-label">Teléfono</label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>

        <div class="campo">
            <label class="form-label">Contraseña</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="campo campo-btn">
            <button type="submit" class="btn btn-primary">Registrarme</button>
        </div>
    </div>
    <div class="form-footer">
        <p>Si ya tenes usuario, <a asp-controller="Cuenta" asp-action="Login">ingresá presionando aquí.</a></p>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
