@{
    ViewData["Title"] = "¡Gracias!";
}

<div class="text-center mt-5">
    <h1 class="text-success display-1">🎉</h1>
    <h2 class="mb-4">¡Compra realizada con éxito!</h2>
    <p class="lead">Gracias por comprar en nuestra librería.</p>

    <hr />

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al inicio</a>
</div>