@section Estilos{
    <link rel="stylesheet" href="~/css/carrito.css" />
}
@{
    ViewData["Title"] = "¡Gracias!";
}

<div class="contenedor-carrito">
    <h2>🎉 ¡Compra realizada con éxito!</h2>
    <p class="leyenda">Gracias por comprar en nuestra librería.</p>

    <hr />
    <div class="contenedor-btn">
        <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-lg">Volver al inicio</a>
    </div>
</div>