@using Carrito.Models;
@model List<CarritoLibro>
@section Estilos{
    <link rel="stylesheet" href="~/css/carrito.css" />
}

@{
    ViewData["Title"] = "Tu Carrito";
}

<div class="contenedor-carrito">
    <h2>🛒 Tu Carrito</h2>

    @if (Model == null || Model.Count == 0)
    {
        <div class="contenedor-carrito carrito-vacio">
            <h4>Tu carrito está vacío</h4>
            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Ir a comprar</a>
        </div>
    }
    else
    {
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Libro</th>
                    <th>Cant.</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Libro.Title
                        </td>
                        <td>@item.Cantidad</td>
                        <td>$@item.Libro.Price</td>
                        <td>$@(item.Libro.Price* item.Cantidad)</td>
                        <td>
                            <a asp-controller="Carrito" 
                                asp-action="Eliminar"
                                asp-route-id=@item.Libro.Id
                                class="btn-eliminar">
                                🗑️
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <h3>Total: <span class="text-success">$@Model.Sum(x => x.Libro.Price * x.Cantidad)</span></h3>

            <a asp-action="CompraExitosa" class="btn btn-success btn-lg">✅ Finalizar Compra</a>
        </div>
    }
</div>